body {
    background-color: black;
}

.main_container {
    background-color: gray;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}   

.box1 {
    background-color: blue;
    width: calc(33.33333% - 10px);
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box2 {
    background-color: yellow;
    width: calc(33.33333% - 10px);
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    background-color: green;
    width: calc(33.33333% - 10px);
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    background-color: red;
    width: calc(33.33333% - 10px);
    height: 400px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 {
    background-color: fuchsia;
    width: calc(66.66% - 10px);
    height: 400px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}